[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.6.1"
pymunk = "==7.2.0"
pytest = "==9.0.1"
pipenv = "==2026.0.2"
pyinstaller = "==6.17.0"

[dev-packages]

[requires]
python_version = "3.12"
